<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <script src="javascripts/jquery-3.5.1.min.js"></script>
</head>
<body>
    <form action="/getLogin", method="POST" id="loginForm">
        <input name="username" id="username" type="text" placeholder="Username">
        <input name="password" id="password" type="text" placeholder="Password">
        <button type="submit">login</button>

        <a href="/signup">Signup</a>
    </form>

    <script src="javascripts/login.js"></script>
</body>
</html>